<div class="aboutus-container">
  <section class="aboutus-header">
    <h1>About Us</h1>
    <p>Welcome to Touta Chat, your gateway to seamless and real-time communication.</p>
  </section>

  <section class="aboutus-content">
    <div class="aboutus-card">
      <h2>Our Mission</h2>
      <p>
        To connect people around the globe by providing a reliable, efficient, and feature-rich chat application.
      </p>
    </div>

    <div class="aboutus-card">
      <h2>Our Vision</h2>
      <p>
        Building a digital world where communication is simple, fast, and accessible for everyone.
      </p>
    </div>

    <div class="aboutus-card">
      <h2>Our Team</h2>
      <p>
        A group of passionate developers, designers, and visionaries committed to enhancing real-time communication.
      </p>
    </div>

    <div class="aboutus-card">
      <h2>ToutBot Chat AI</h2>
      <p>
        Meet ToutBot, our intelligent chat assistant, designed to provide instant, accurate, and human-like responses to enhance your chatting experience.
      </p>
    </div>
  </section>
  <br><br><br>
  <footer class="aboutus-footer">
    <p>&copy; 2024 Touta Chat. All rights reserved. 
      <a href="https://www.linkedin.com/in/rayen-dhafer/" target="_blank" rel="noopener noreferrer">LinkedIn</a><br>
      Made with 💜
    </p>
  </footer>
</div>
