
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<div class="main">
<div class="animation-container">
    <i class="fas fa-phone icon phone"></i>
    <i class="fas fa-comments icon chat-bubble"></i>
    <i class="fas fa-message icon message message1"></i>
    <i class="fas fa-message icon message message2"></i>
    <i class="fas fa-phone-alt icon call"></i>
    <i class="fas fa-video icon video"></i>
    <i class="fas fa-paperclip icon attachment"></i>
    <i class="fas fa-smile icon emoticon"></i>
    <i class="fas fa-bell icon notification"></i>
    <i class="fas fa-cogs icon setting"></i>
    <i class="fas fa-search icon search"></i>
    <i class="fas fa-star icon star"></i>
    <i class="fas fa-heart icon heart"></i>
    <i class="fas fa-map-marker-alt icon location"></i>
    <i class="fas fa-calendar icon calendar"></i>
    <i class="fas fa-camera icon camera"></i>
    <i class="fas fa-music icon music"></i>
    <i class="fas fa-shopping-cart icon shopping-cart"></i>
    <i class="fas fa-video-camera icon video-camera"></i>
    <i class="fas fa-clock icon clock"></i>
    <i class="fas fa-gift icon gift"></i>
    <i class="fas fa-moon icon moon"></i>
    <i class="fas fa-sun icon sun"></i>
    <i class="fas fa-cloud icon cloud"></i>
    <i class="fas fa-lightbulb icon lightbulb"></i>
    <i class="fas fa-coffee icon coffee"></i>
</div>

<div class="container">
    <div class="logo">
        <img src="Logo.png" alt="Logo">
    </div>
    <div class="form-container">
        <div class="form-header">
            <h1>Touta Chat</h1>
        </div>
        <br>
        <form id="login-form" class="form-section" [ngClass]="{'hidden': !showLoginForm}"  >
            <div class="input-group">
                <select id="country-code" [(ngModel)]="selectedCountryCode" name="countryCode">
                    <option value="+1">United States +1</option>
                    <option value="+44">United Kingdom +44</option>
                    <option value="+33">France +33</option>
                    <option value="+49">Germany +49</option>
                    <option value="+39">Italy +39</option>
                    <option value="+34">Spain +34</option>
                    <option value="+55">Brazil +55</option>
                    <option value="+61">Australia +61</option>
                    <option value="+91">India +91</option>
                    <option value="+81">Japan +81</option>
                    <option value="+82">South Korea +82</option>
                    <option value="+86">China +86</option>
                    <option value="+27">South Africa +27</option>
                    <option value="+20">Egypt +20</option>
                    <option value="+213">Algeria +213</option>
                    <option value="+216">Tunisia +216</option>
                    <option value="+963">Syria +963</option>
                    <option value="+970">Palestine +970</option>
                    <option value="+972">Israel +972</option>
                    <option value="+31">Netherlands +31</option>
                    <option value="+31">Belgium +32</option>
                    <option value="+420">Czech Republic +420</option>
                    <option value="+351">Portugal +351</option>
                    <option value="+354">Iceland +354</option>
                    <option value="+353">Ireland +353</option>
                    <option value="+371">Latvia +371</option>
                    <option value="+370">Lithuania +370</option>
                    <option value="+381">Serbia +381</option>
                    <option value="+382">Montenegro +382</option>
                    <option value="+385">Croatia +385</option>
                    <option value="+389">North Macedonia +389</option>
                    <option value="+372">Estonia +372</option>
                    <option value="+370">Lithuania +370</option>
                    <option value="+373">Moldova +373</option>
                    <option value="+374">Armenia +374</option>
                    <option value="+375">Belarus +375</option>
                    <option value="+380">Ukraine +380</option>
                    <option value="+374">Armenia +374</option>
                    <option value="+355">Albania +355</option>
                    <option value="+39">San Marino +39</option>
                    <option value="+380">Ukraine +380</option>
                    <option value="+598">Uruguay +598</option>
                    <option value="+960">Maldives +960</option>
                    <option value="+60">Malaysia +60</option>
                    <option value="+62">Indonesia +62</option>
                    <option value="+63">Philippines +63</option>
                    <option value="+64">New Zealand +64</option>
                    <option value="+65">Singapore +65</option>
                    <option value="+66">Thailand +66</option>
                    <option value="+67">Brunei +67</option>
                    <option value="+68">Timor-Leste +68</option>
                    <option value="+82">South Korea +82</option>
                    <option value="+91">India +91</option>
                    <option value="+92">Pakistan +92</option>
                    <option value="+93">Afghanistan +93</option>
                    <option value="+94">Sri Lanka +94</option>
                    <option value="+95">Myanmar +95</option>
                    <option value="+960">Maldives +960</option>
                    <option value="+961">Lebanon +961</option>
                    <option value="+962">Jordan +962</option>
                    <option value="+963">Syria +963</option>
                    <option value="+964">Iraq +964</option>
                    <option value="+965">Kuwait +965</option>
                    <option value="+966">Saudi Arabia +966</option>
                    <option value="+967">Yemen +967</option>
                    <option value="+968">Oman +968</option>
                    <option value="+970">Palestine +970</option>
                    <option value="+971">United Arab Emirates +971</option>
                    <option value="+972">Israel +972</option>
                    <option value="+973">Bahrain +973</option>
                    <option value="+974">Qatar +974</option>
                    <option value="+975">Bhutan +975</option>
                    <option value="+976">Mongolia +976</option>
                    <option value="+977">Nepal +977</option>
                    <option value="+998">Uzbekistan +998</option>
                  </select>
                  
                <input type="tel" id="phone" [(ngModel)]="phoneNumber" name="phone" placeholder="Phone number" required autocomplete="off">
            </div>
            <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Password" required autocomplete="off">

            <button type="button" id="login-btn" (click)="showSuccess()">Login</button>
            <button type="button" id="register-link" (click)="showRegistrationForm()" >Create New Account</button>

            <br><a (click)="showForgotform()" id="forgot-password-link"  >Forgot Password?</a> 

        </form>
        <form id="registration-form" class="form-section" [ngClass]="{'hidden': !showRegisterForm}"  >
            <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Name" required autocomplete="off">
            <div class="input-group">
                <select id="country-code" [(ngModel)]="selectedCountryCode" name="countryCode">
                    <option value="+1">United States +1</option>
                    <option value="+44">United Kingdom +44</option>
                    <option value="+33">France +33</option>
                    <option value="+49">Germany +49</option>
                    <option value="+39">Italy +39</option>
                    <option value="+34">Spain +34</option>
                    <option value="+55">Brazil +55</option>
                    <option value="+61">Australia +61</option>
                    <option value="+91">India +91</option>
                    <option value="+81">Japan +81</option>
                    <option value="+82">South Korea +82</option>
                    <option value="+86">China +86</option>
                    <option value="+27">South Africa +27</option>
                    <option value="+20">Egypt +20</option>
                    <option value="+213">Algeria +213</option>
                    <option value="+216">Tunisia +216</option>
                    <option value="+963">Syria +963</option>
                    <option value="+970">Palestine +970</option>
                    <option value="+972">Israel +972</option>
                    <option value="+31">Netherlands +31</option>
                    <option value="+31">Belgium +32</option>
                    <option value="+420">Czech Republic +420</option>
                    <option value="+351">Portugal +351</option>
                    <option value="+354">Iceland +354</option>
                    <option value="+353">Ireland +353</option>
                    <option value="+371">Latvia +371</option>
                    <option value="+370">Lithuania +370</option>
                    <option value="+381">Serbia +381</option>
                    <option value="+382">Montenegro +382</option>
                    <option value="+385">Croatia +385</option>
                    <option value="+389">North Macedonia +389</option>
                    <option value="+372">Estonia +372</option>
                    <option value="+370">Lithuania +370</option>
                    <option value="+373">Moldova +373</option>
                    <option value="+374">Armenia +374</option>
                    <option value="+375">Belarus +375</option>
                    <option value="+380">Ukraine +380</option>
                    <option value="+374">Armenia +374</option>
                    <option value="+355">Albania +355</option> 
                    <option value="+39">San Marino +39</option>
                    <option value="+380">Ukraine +380</option>
                    <option value="+598">Uruguay +598</option>
                    <option value="+960">Maldives +960</option>
                    <option value="+60">Malaysia +60</option>
                    <option value="+62">Indonesia +62</option>
                    <option value="+63">Philippines +63</option>
                    <option value="+64">New Zealand +64</option>
                    <option value="+65">Singapore +65</option>
                    <option value="+66">Thailand +66</option>
                    <option value="+67">Brunei +67</option>
                    <option value="+68">Timor-Leste +68</option>
                    <option value="+82">South Korea +82</option>
                    <option value="+91">India +91</option>
                    <option value="+92">Pakistan +92</option>
                    <option value="+93">Afghanistan +93</option>
                    <option value="+94">Sri Lanka +94</option>
                    <option value="+95">Myanmar +95</option>
                    <option value="+960">Maldives +960</option>
                    <option value="+961">Lebanon +961</option>
                    <option value="+962">Jordan +962</option>
                    <option value="+963">Syria +963</option>
                    <option value="+964">Iraq +964</option>
                    <option value="+965">Kuwait +965</option>
                    <option value="+966">Saudi Arabia +966</option>
                    <option value="+967">Yemen +967</option>
                    <option value="+968">Oman +968</option>
                    <option value="+970">Palestine +970</option>
                    <option value="+971">United Arab Emirates +971</option>
                    <option value="+972">Israel +972</option>
                    <option value="+973">Bahrain +973</option>
                    <option value="+974">Qatar +974</option>
                    <option value="+975">Bhutan +975</option>
                    <option value="+976">Mongolia +976</option>
                    <option value="+977">Nepal +977</option>
                    <option value="+998">Uzbekistan +998</option>
                  </select>
                  
                <input type="tel" id="phone" [(ngModel)]="phoneNumber" name="phone" placeholder="Phone number" required autocomplete="off">
            </div>
            <input type="password" id="reg-password" [(ngModel)]="regPassword" name="regPassword" placeholder="Password" required autocomplete="off">
            <button type="button" id="verify-btn" (click)="sendVerificationCode()">Send Verification Code</button>

            <br>
            <button type="button" id="return-login" class="return-to-login" (click)="returnToLogin()">Return to Login</button>
        </form>

        <form id="verification-form" class="form-section"[ngClass]="{'hidden': !showVerificationCode}"  >
            <input type="text" id="verification-code" [(ngModel)]="verificationCode" name="verificationCode" placeholder="Enter verification code"  autocomplete="off">
            <button type="submit" id="login-btn" (click)="verificationUser()">Register</button>
        </form>

        <form id="verification-form" class="form-section" [ngClass]="{'hidden': !showForgot}">
            <input type="text" id="verification-code"  [(ngModel)]="name" name="verificationInput" placeholder="Enter Email or Phone" autocomplete="off" required>
        
            <div class="radio-options">
                <label class="radio-option">
                    <input type="radio" [(ngModel)]="verificationMethod" name="verificationMethod" value="phone" required class="form-check-input">
                    <p class="emj-label">📞</p><span class="radio-label">
                         Send code via phone number. This option allows you to receive a verification code directly to your registered phone number, ensuring quick and secure access.
                    </span>                
                </label>
                <label class="radio-option">
                    <input type="radio" [(ngModel)]="verificationMethod" name="verificationMethod" value="email" class="form-check-input">
                    <p class="emj-label">📨</p>
                    <span class="radio-label">
                        Send link via email. Choose this option to receive a verification link in your email inbox, providing an easy way to verify your identity.
                    </span>
                </label>
            </div>
            
            
        
            <button type="button" id="send-btn" (click)="ResetPwd()" style="margin-top: 10px;">Send</button>
        </form>
        
 
        
    </div>
</div>
</div>